*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    min-width: 100vh;
    background: rgb(255, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.3);
    border-radius: 12px;
    background: rgb(36, 36, 36);
    overflow: hidden;
}

form input{
    width: 100%;
    height: 150px;
    border:none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background-color: black;
    text-align: right;
    pointer-events: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
button{
    flex: 0 0 22;
    margin: 5px 0;
    border: 1px black;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight:600;
    border-radius: 5px;
    cursor: pointer;
}
.btn-yellow{
    background: rgb(245, 146, 62);
    color: #fff;
}
.btn-grey{
    background: rgb(224, 224, 224);
}
.btn-equal{
    background: green;
}
.btn-clear{
    background: red;
}