html {
    min-height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: "Nunito";
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #ac9dd6;
    border-radius: 20px; 
  }
  
  .navbar {
    width: 100%;
  }
  
  .bg-glass {
    background: rgba(100, 72, 170, 0.75);
    box-shadow: 0 8px 12px 0 rgba(31, 33, 135, 0.37);
    border-radius: 0 0 15px 15px;
    backdrop-filter: blur( 18.0px );
    border: 1px solid rgba(252, 248, 248, 0.192);
    position: fixed;
    z-index: 1000;
  }
  
  .brand {
    display: flex;
    justify-content: space-between;
  }
  
  /* splash screen css starts here  */
  #loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #02081f
      url("https://media.giphy.com/media/dVuyBgq2z5gVBkFtDc/giphy.gif") no-repeat
      center center;
    z-index: 99999;
  }
  /* splash screen css ends here  */
  
  .hero-figure {
    padding: 1rem;
    padding-top: 4rem;
    color: #1a1818;
  }
  
  .card {
    color: aliceblue;
    width: 12rem;
    margin: 5px;
  }
  
  .confirmed {
    background: #f47071;
    box-shadow: 2px 5px 10px -2px rgba(10, 16, 34, 0.377);
    border: 2px solid rgb(236, 19, 19);
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .confirmed:hover {
    box-shadow: 0 30px 50px -10px rgba(10, 16, 34, 0.493) !important;
    transform: translate3d(0px, -2px, 0px);
  }
  
  .new_confirmed{
    background: #4385f4;
    box-shadow: 2px 5px 10px -2px rgba(10, 16, 34, 0.377);
    border: 2px solid rgb(5, 44, 116);
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .new_confirmed:hover{
    box-shadow: 0 30px 50px -10px rgba(10, 16, 34, 0.493) !important;
    transform: translate3d(0px, -2px, 0px);
  }
  
  .recovered {
    background: #15c55d;
    box-shadow: 2px 5px 10px -2px rgba(10, 16, 34, 0.377);
    border: 2px solid #0f8b43;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .recovered:hover {
    box-shadow: 0 30px 50px -10px rgba(10, 16, 34, 0.493) !important;
    transform: translate3d(0px, -2px, 0px);
  }
  
  .death {
    background: #95a5a6;
    box-shadow: 2px 5px 10px -2px rgba(10, 16, 34, 0.377);
    border: 2px solid rgb(97, 96, 96);
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .death:hover {
    box-shadow: 0 30px 50px -10px rgba(10, 16, 34, 0.493) !important;
    transform: translate3d(0px, -2px, 0px);
  }
  
  iframe {
    background: rgba(16, 65, 228, 0.3);
    box-shadow: 0 8px 22px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  
  }
  
  iframe:hover{
    box-shadow: 0 30px 50px -10px rgba(10, 16, 34, 0.493) !important;
    transform: translate3d(0px, -2px, 0px);
  }
  
  .table {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  
  footer{
    color: whitesmoke;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(90deg, #8966e9, #664aae);
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f18a02;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: #f18a02;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #f18a02;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #cecdcd;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #e9e7e7;
    padding-left: 10px;
    border: 2px solid #222222;
    border-radius: 15px;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #8aec3a;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
  }
  .right form .btn button:hover{
    background: rgb(223, 129, 6);
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #fc8906;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  
  .email a{
    color: whitesmoke;
    text-decoration: none;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
      width: 100%;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }