*{
    margin: 0;
    padding: 0;
font-family: sans-serif;
}
body{
    background-color: lightpink;
}
.main{
width: 400px;
margin: auto;
padding: 20px;
margin-top: 13rem;
border: 2px solid black;
border-radius: 20px;
box-shadow: 5px 4px 28px black;
}
.box{
    margin: auto;
}
.heading{
    width: 100%;
    margin: auto;
    display:block;
    text-align: center;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 23px;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 5px;
}
.row{
    display: flex;
    justify-content: space-between;
font-size: 20px;
margin-top: 7px;
}
label{
    user-select: none;
}
.btn{
    width:100%;
    padding: 10px;
    border-radius: 20px;
    outline: 0;
border: 0;
font-size: 20px;
margin-top: 10px;
}
.btn:hover{
    background-color: rgb(216, 161, 170);
    box-shadow: 2px 2px 10px black;
}